old/announcement.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Announcements</title>

	<link href="./css/my_css.css" rel="stylesheet">
	
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href=".css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Announcements
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./login.html">Login</a></li>
            <li><a href="./crud.html">New Announcement</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>
	<!--side menu-->
	
	<div class="col-sm-3 col-md-2 ">
	</div>
    <div class="container col-sm-8">
		
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron row">
        <div class="col-sm-6 my_ann_spaces">
			<h2 class="my_title my_center_txt">Title of announcement</h2>
			<img src="./img/default.jpg" class="my_fullimg" />
		</div>
		<div class="col-sm-6 my_author my_ann_spaces">
			<table width="100%">
				<tr>
					<td>
						<img src="./img/avatar.jpg" class="my_avatar" />
						<p>Author:</p>
						<h2>Name and Surname</h2>
						<p class="my_ann">address@gmail.com</p>
					</td>
				</tr>
				<tr>
					<td>
						<p class="my_description">This is my description. I am genius. I am handsome. I am fabulous. And I am the most modest person you've ever seen!</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="my_ann_spaces">
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo at lectus sit amet fermentum. Morbi quis erat lacinia sem laoreet hendrerit at vitae odio. Donec dignissim ornare ipsum, eget convallis quam commodo commodo. Curabitur consectetur ante eu eros placerat, eget fringilla odio tempus. Sed imperdiet viverra risus vitae viverra. Curabitur nunc ligula, placerat euismod enim non, tempor tincidunt arcu. Phasellus tempor, erat vel commodo suscipit, tortor nulla malesuada augue, vitae cursus quam urna id lorem. Vivamus accumsan pharetra neque et dictum. Mauris in rhoncus nibh. Donec pharetra dignissim ipsum, a tempor magna lobortis eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam sagittis gravida consectetur. Cras interdum viverra quam, non blandit sem hendrerit eu.

Donec at quam vel ex bibendum rutrum eget sed mauris. Etiam vel quam eu mi tempus luctus. Etiam euismod ante scelerisque, fringilla nisl nec, vulputate turpis. Aliquam neque lorem, rhoncus quis interdum sed, lacinia nec nibh. Quisque in nulla at quam feugiat scelerisque. Donec in dapibus mauris. Phasellus rutrum a magna sed ultrices. Phasellus maximus consectetur arcu, a finibus ligula suscipit ac. Sed laoreet luctus ante, at tristique nisi pharetra nec. Etiam fermentum et arcu a vulputate. Duis risus justo, semper eu diam quis, aliquam bibendum est. Suspendisse est nulla, pretium sed ullamcorper vel, mattis eget lorem. Etiam eget eleifend nulla, vel tristique purus. Donec aliquet tortor quis arcu dapibus ultrices. Duis interdum, leo suscipit dignissim iaculis, sem odio consequat est, eu tempor ante augue sed neque. Nam aliquam purus nec diam ornare, et efficitur magna elementum.

Cras odio erat, aliquet in turpis ut, mollis pharetra urna. Aliquam massa felis, feugiat id risus ac, tempus porta dolor. Morbi venenatis eu massa nec imperdiet. Cras vel fermentum nulla. Nunc feugiat, ligula et convallis convallis, lorem odio finibus lorem, tincidunt porttitor velit turpis scelerisque erat. Praesent fringilla libero at nulla iaculis fermentum. Donec gravida tempor facilisis. Pellentesque vel neque at dui efficitur dignissim. Ut varius mi ex, ac accumsan nisi aliquet ut. Duis faucibus risus et ligula bibendum bibendum. Proin imperdiet lectus purus, vehicula molestie massa venenatis vel. Maecenas fermentum pretium dapibus. Sed quis lectus euismod urna laoreet convallis pellentesque sed nibh. Quisque consequat, magna id suscipit consectetur, quam nibh auctor nunc, eget sodales erat mi vitae massa. Etiam imperdiet, urna viverra feugiat accumsan, ex augue rhoncus lectus, id posuere leo sapien non dolor. </p>
		</div>
		<table width="100%"><tr>
			<td width="33%"></td>
			<td width="33%"></td>
			<td width="33%">
				<button class="btn btn-danger my_margin my_right" type="button">Delete</button>
				<a class="btn btn-success my_margin my_right" type="button" href="./crud.html">Edit</a>
			</td>
		</tr></table>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>

app_server/views/announcement.pug
extends layout.pug

block content
    .col-sm-3.col-md-2
    .container.col-sm-8
      // Main component for a primary marketing message or call to action
      .jumbotron.row
        .col-sm-6.my_ann_spaces
          h2.my_title.my_center_txt Title of announcement
          img.my_fullimg(src='./img/default.jpg')
        .col-sm-6.my_author.my_ann_spaces
          table(width='100%')
            tr
              td
                img.my_avatar(src='./img/avatar.jpg')
                p Author:
                h2 Name and Surname
                p.my_ann address@gmail.com
            tr
              td
                p.my_description
                  | This is my description. I am genius. I am handsome. I am fabulous. And I am the most modest person you've ever seen!
        .my_ann_spaces
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo at lectus sit amet fermentum. Morbi quis erat lacinia sem laoreet hendrerit at vitae odio. Donec dignissim ornare ipsum, eget convallis quam commodo commodo. Curabitur consectetur ante eu eros placerat, eget fringilla odio tempus. Sed imperdiet viverra risus vitae viverra. Curabitur nunc ligula, placerat euismod enim non, tempor tincidunt arcu. Phasellus tempor, erat vel commodo suscipit, tortor nulla malesuada augue, vitae cursus quam urna id lorem. Vivamus accumsan pharetra neque et dictum. Mauris in rhoncus nibh. Donec pharetra dignissim ipsum, a tempor magna lobortis eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam sagittis gravida consectetur. Cras interdum viverra quam, non blandit sem hendrerit eu.
            | Donec at quam vel ex bibendum rutrum eget sed mauris. Etiam vel quam eu mi tempus luctus. Etiam euismod ante scelerisque, fringilla nisl nec, vulputate turpis. Aliquam neque lorem, rhoncus quis interdum sed, lacinia nec nibh. Quisque in nulla at quam feugiat scelerisque. Donec in dapibus mauris. Phasellus rutrum a magna sed ultrices. Phasellus maximus consectetur arcu, a finibus ligula suscipit ac. Sed laoreet luctus ante, at tristique nisi pharetra nec. Etiam fermentum et arcu a vulputate. Duis risus justo, semper eu diam quis, aliquam bibendum est. Suspendisse est nulla, pretium sed ullamcorper vel, mattis eget lorem. Etiam eget eleifend nulla, vel tristique purus. Donec aliquet tortor quis arcu dapibus ultrices. Duis interdum, leo suscipit dignissim iaculis, sem odio consequat est, eu tempor ante augue sed neque. Nam aliquam purus nec diam ornare, et efficitur magna elementum.
            | Cras odio erat, aliquet in turpis ut, mollis pharetra urna. Aliquam massa felis, feugiat id risus ac, tempus porta dolor. Morbi venenatis eu massa nec imperdiet. Cras vel fermentum nulla. Nunc feugiat, ligula et convallis convallis, lorem odio finibus lorem, tincidunt porttitor velit turpis scelerisque erat. Praesent fringilla libero at nulla iaculis fermentum. Donec gravida tempor facilisis. Pellentesque vel neque at dui efficitur dignissim. Ut varius mi ex, ac accumsan nisi aliquet ut. Duis faucibus risus et ligula bibendum bibendum. Proin imperdiet lectus purus, vehicula molestie massa venenatis vel. Maecenas fermentum pretium dapibus. Sed quis lectus euismod urna laoreet convallis pellentesque sed nibh. Quisque consequat, magna id suscipit consectetur, quam nibh auctor nunc, eget sodales erat mi vitae massa. Etiam imperdiet, urna viverra feugiat accumsan, ex augue rhoncus lectus, id posuere leo sapien non dolor.
        table(width='100%')
          tr
            td(width='33%')
            td(width='33%')
            td(width='33%')
              button.btn.btn-danger.my_margin.my_right(type='button') Delete
              a.btn.btn-success.my_margin.my_right(type='button', href='./crud  ') Edit
