old/crud.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Announcements</title>

	<link href="./css/my_css.css" rel="stylesheet">
	
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href=".css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Announcements
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./login.html">Login</a></li>
            <li><a href="./crud.html">New Announcement</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>
	<!--side menu-->
	
	<div class="col-sm-3 col-md-2 ">
	</div>
    <div class="container col-sm-8">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
		<h2 class="my_title">Create new announcement</h2>
		<h4>Title*:</h4>
		<input placeholder="Put title of your announcement here" class="form-control" type="text" required id="inputTitle">
		<div id="errorMessageTitle" style="margin-bottom: 10px;margin-top:10px;" class="alert alert-danger" role="alert" hidden>
  			This title is too short.
  		</div>
		<h4>Category*:</h4>
		<div class="form-group">
			<select class="form-control" id="sel1" required>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div> 
		<h4>Localization:</h4>
		<input placeholder="Put some details about your localization" class="form-control" type="text">
		<h4>Announcement*:</h4>
		<textarea class="form-control" rows="10" placeholder="Write your announcement" required id="inputAnn"></textarea>
		<div id="errorMessageAnn" style="margin-bottom: 10px;margin-top:10px;" class="alert alert-danger" role="alert" hidden>
  			Announcement is too short. Put at least 30 characters.
  		</div>
		<h4>Image:</h4>
		<input class="btn btn-info my_margin" type="file" name="pic" accept="image/*">
		<div class="checkbox">
			<label><input type="checkbox" value="" required id="inputCheck">Ofc I've read the terms and conditions. Everyone does that.</label>
		</div>
		<div id="errorMessageCheck" style="margin-bottom: 10px;margin-top:10px;" class="alert alert-danger" role="alert" hidden>
  			Unfortunately you have to check this, because reasons.
  		</div>
		<br />
		<table width="100%"><tr>
			<td width="33%"></td>
			<td width="33%"><div class="my_center"><button class="btn btn-success my_margin" type="button" onclick='validate()'>Create!</button></div></td>
			<td width="33%"><button class="btn btn-danger my_margin my_right" type="button" onclick="javascript:history.back()">Cancel</button></td>
		</tr></table>
		
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
	<script src="./js/mine.js"></script>
  </body>
</html>

app_server/views/crud.pug
extends layout.pug

block content
		.col-sm-3.col-md-2
		.container.col-sm-8
			// Main component for a primary marketing message or call to action
			.jumbotron
				h2.my_title Create new announcement
				h4 Title*:
				input#inputTitle.form-control(placeholder="Put title of your announcement here", type="text", required="")
				#errorMessageTitle.alert.alert-danger(style="margin-bottom: 10px;margin-top:10px;", role="alert", hidden="")
					| This title is too short.
				h4 Category*:
				.form-group
					select#sel1.form-control(required="")
						option Buy
						option Sell
						option LF ride
				h4 Localization:
				input#inputLocation.form-control(placeholder="Put some details about your localization", type="text")
				h4 Announcement*:
				textarea#inputAnn.form-control(rows="10", placeholder="Write your announcement", required="")
				#errorMessageAnn.alert.alert-danger(style="margin-bottom: 10px;margin-top:10px;", role="alert", hidden="")
					| Announcement is too short. Put at least 30 characters.
				h4 Image:
				input#inputImg.btn.btn-info.my_margin(type="file", name="pic", accept="image/*")
				.checkbox
					label
						input#inputCheck(type="checkbox", value="", required="")
						| Ofc I've read the terms and conditions. Everyone does that.
				#errorMessageCheck.alert.alert-danger(style="margin-bottom: 10px;margin-top:10px;", role="alert", hidden="")
					| Unfortunately you have to check this, because reasons.
				br
				table(width="100%")
					tr
						td(width="33%")
						td(width="33%")
							.my_center
								button.btn.btn-success.my_margin(type="button", onclick="validate()") Create!
						td(width="33%")
							button.btn.btn-danger.my_margin.my_right(type="button", onclick="javascript:history.back()") Cancel
