app_server/views/index.pug
extends layout.pug

block content
        // side menu
        .col-sm-3.col-md-2.sidebar.hidden-xs
            h3.my_title Categories:
            ul.nav.nav-sidebar
                mixin categoryElement(name, url)
                    li
                        a(href=url, onclick='')=name
                +categoryElement("All", '/?category=All')
                +categoryElement("Buy", '/?category=Buy')
                +categoryElement("Sell", '/?category=Sell')
                +categoryElement("LF ride", '/?category=LF ride')
        .container.visible-xs-block
            .jumbotron.my_search
                .container
                    .col-xs-6
                        a.btn.btn-warning.my_navigation.text-left(type='button', href='./phone_category  ') Category
                    .col-xs-6
                        a.btn.btn-warning.my_navigation.text-right(type='button', href='./phone_search  ') Search
        .container-fluid.col-sm-8.hidden-xs
            .jumbotron.my_search
                table(width='100%')
                    tr
                        td(width='95%')
                            input.form-control(placeholder='Search', type='text')
                        td
                            button.btn.btn-warning.my_margin(type='button', onclick='javascript:$("#animacja").show()') Search
                #animacja.pasek(hidden='')
                    #elem.kloc
        .container.col-sm-8
            // Main component for a primary marketing message or call to action
            #main.jumbotron
                
        script(src="/javascripts/index.js")

old/index.html
<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Announcements</title>

	<link href="./css/my_css.css" rel="stylesheet">
	
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href=".css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="./css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Announcements
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./login.html">Login</a></li>
            <li><a href="./crud.html">New Announcement</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>
	
	<!--side menu-->
	
		<div class="col-sm-3 col-md-2 sidebar hidden-xs">
			<h3 class="my_title">Categories:</h3>
			<ul class="nav nav-sidebar">
				<li><a href="#" id="all" onclick="wszystkie()">All</a></li>
				<li><a href="#" id="tenmadzialac" onclick="moje()">Mine</a></li>
				<li><a href="#" id="totezma" onclick="niemoje()">Not mine</a></li>
			</ul>
		</div>
	
	<div class="container visible-xs-block">
		<div class="jumbotron my_search">
			<div class="container">
			<div class="col-xs-6"><a class="btn btn-warning my_navigation text-left" type="button" href="./phone_category.html">Category</a></div>
			<div class="col-xs-6"><a class="btn btn-warning my_navigation text-right" type="button" href="./phone_search.html">Search</a></div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid col-sm-8 hidden-xs">
		<div class="jumbotron my_search">
			<table width="100%"><tr>
				<td width="95%"><input placeholder="Search" class="form-control" type="text"></td>
				<td><button class="btn btn-warning my_margin" type="button" onclick='javascript:$("#animacja").show()'>Search</button></td>
			</tr></table>
			
			<div id="animacja" class="pasek" hidden>
				<div id="elem" class="kloc"></div>
			</div>
			
		</div>	
	</div>
	
    <div class="container col-sm-8">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" id="main">
        <div class="my_announcement mine" id="pierwszy">
			<img class="my_ann" src="./img/megasushi.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Announcement title</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success" type="button" href="./crud.html">Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
		</div>
		<div class="my_announcement notmine">
			<img class="my_ann" src="./img/default.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Another announcement</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success hidden" type="button" href="./crud.html">Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
		</div>
		<div class="my_announcement notmine">
			<img class="my_ann" src="./img/default.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Wow, even third announcement</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success hidden" type="button" href="./crud.html" hidden>Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
		</div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
	<script src="./js/mine.js"></script>
  </body>
</html>
