old/phone_search.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Announcements</title>

	<link href="./css/my_css.css" rel="stylesheet">
	
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href=".css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Announcements
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./login.html">Login</a></li>
            <li><a href="./crud.html">New Announcement</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>
	<!--side menu-->
	

      <!-- Main component for a primary marketing message or call to action -->
	  <div class="container">
		<div class="jumbotron my_search my_center">
			<table width="100%"><tr>
				<td width="95%"><input placeholder="Search" class="form-control" type="text"></td>
				<td><button class="btn btn-warning my_margin" type="button">Search</button></td>
			</tr></table>
		</div>
		<div class="jumbotron">
		<div class="my_announcement notmine">
			<img class="my_ann" src="./img/default.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Title</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success hidden" type="button" href="./crud.html">Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
		</div>
		<div class="my_announcement notmine">
			<img class="my_ann" src="./img/default.jpg" />
			<!--<div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>-->
			<h3 class="my_ann">Sth else</h3>
			<p class="jumbotron my_ann"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.

Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis. </p>
			<div class="my_ann_buttons"><a class="btn btn-success hidden" type="button" href="./crud.html" hidden>Edit</a>
			<a class="btn btn-info" type="button" href="./announcement.html">Read ></a></div>
      </div>
	</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>

app_server/views/phone_search.pug
extends layout.pug

block content
        .container
            .jumbotron.my_search.my_center
                table(width='100%')
                    tr
                        td(width='95%')
                            input.form-control(placeholder='Search', type='text')
                        td
                            button.btn.btn-warning.my_margin(type='button') Search
            .jumbotron
                .my_announcement.notmine
                    img.my_ann(src='./img/default.jpg')
                    // <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
                    h3.my_ann Title
                    p.jumbotron.my_ann
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.
                        | Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis.
                    .my_ann_buttons
                        a.btn.btn-success.hidden(type='button', href='./crud  ') Edit
                        a.btn.btn-info(type='button', href='./announcement  ') Read >
                .my_announcement.notmine
                    img.my_ann(src='./img/default.jpg')
                    // <div style="float:right;width:150px;margin-top:120px;">&nbsp;</div>
                    h3.my_ann Sth else
                    p.jumbotron.my_ann
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula ante. Duis risus ex, pretium vel sem eget, efficitur malesuada sapien. Quisque fringilla fermentum velit eu faucibus. Etiam sed venenatis magna. Morbi sit amet malesuada libero. Nullam tincidunt tortor lacinia vestibulum viverra. Curabitur nec lorem luctus odio viverra maximus. Donec quis dui justo.
                        | Donec id mi sit amet mi ullamcorper hendrerit. Pellentesque posuere felis vel pretium mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc finibus ullamcorper ullamcorper. Aenean in libero velit. Morbi facilisis condimentum fringilla. Integer non augue egestas, maximus nisi eget, ultrices odio. Cras dolor lorem, ornare at sagittis quis, sodales eu diam. Aenean in metus turpis.
                    .my_ann_buttons
                        a.btn.btn-success.hidden(type='button', href='./crud  ', hidden='') Edit
                        a.btn.btn-info(type='button', href='./announcement  ') Read >
