old/register.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Announcements</title>

	<link href="./css/my_css.css" rel="stylesheet">
	
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href=".css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Announcements
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./login.html">Login</a></li>
            <li><a href="./crud.html">New Announcement</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>
	<!--side menu-->
	
	<div class="col-sm-3 col-md-4 ">
	</div>
    <div class="container col-sm-4">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <form>
        <h2 class="form-signin-heading my_center_txt my_margin my_title">Please fill in the form</h2>
		<h4>New login:</h4>
        <input type="text" id="inputLogin" class="form-control my_margin" placeholder="Login" required autofocus>
		<h4>Your email address:</h4>
        <input type="email" id="inputEmail" class="form-control my_margin" placeholder="Email" required>
		<h4>Confirm your email:</h4>
		<input type="email" id="inputEmailConfirm" class="form-control my_margin" placeholder="Confirm email" required>
		<h4>Password:</h4>
		<input type="password" id="inputPassword" class="form-control my_margin" placeholder="Password" required>
		<div class="checkbox">
			<label><input type="checkbox" value="" required>Ofc I've read the terms and conditions. Everyone does that.</label>
		</div>
        <button class="btn btn-lg btn-primary btn-block my_margin" type="submit">Register</button>
      </form>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>

app_server/views/register.pug
extends layout.pug

block content
        .col-sm-3.col-md-4
        .container.col-sm-4
            // Main component for a primary marketing message or call to action
            .jumbotron
                form
                    h2.form-signin-heading.my_center_txt.my_margin.my_title Please fill in the form
                    h4 New login:
                    input#inputLogin.form-control.my_margin(type='text', placeholder='Login', required='', autofocus='')
                    h4 Your email address:
                    input#inputEmail.form-control.my_margin(type='email', placeholder='Email', required='')
                    h4 Confirm your email:
                    input#inputEmailConfirm.form-control.my_margin(type='email', placeholder='Confirm email', required='')
                    h4 Password:
                    input#inputPassword.form-control.my_margin(type='password', placeholder='Password', required='')
                    .checkbox
                        label
                            input(type='checkbox', value='', required='')
                            | Ofc I've read the terms and conditions. Everyone does that.
                    button.btn.btn-lg.btn-primary.btn-block.my_margin(type='submit') Register
