old/user.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Announcements</title>

	<link href="./css/my_css.css" rel="stylesheet">
	
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href=".css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Announcements
		  </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./login.html">Login</a></li>
            <li><a href="./crud.html">New Announcement</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</nav>
	<!--side menu-->
	
	<div class="col-sm-3 col-md-2 ">
	</div>
    <div class="container col-sm-8">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
		<h3 class="my_title">Your note:</h3>
		<div class="my_author my_ann_spaces">
			<table width="100%">
				<tr>
					<td>
						<img src="./img/avatar.jpg" class="my_avatar" />
						<p>Author:</p>
						<h2>Name and Surname</h2>
						<p class="my_ann">address@gmail.com</p>
					</td>
				</tr>
				<tr>
					<td>
						<p class="my_description">This is my description. I am genius. I am handsome. I am fabulous. And I am the most modest person you've ever seen!</p>
					</td>
				</tr>
			</table>
		</div>
			
		<div class="my_center"><button class="btn btn-info my_margin" type="button" onclick='javascript:$("#successMsg").hide();$("#edycjaProfilu").show();'>I want to edit my note</button></div>
		
		<div id="edycjaProfilu" hidden>
			<h4>Name and surname or nickname:</h4>
			<input placeholder="Put your name and surname or nickname here" class="form-control" type="text" required id="inputName">
			<div id="errorMessageName" style="margin-bottom: 10px;margin-top:10px;" class="alert alert-danger" role="alert" hidden>
				Your name/nickname is too short.
			</div>
		
			<h4>Description:</h4>
			<textarea class="form-control" rows="10" placeholder="Describe yourself" id="inputDescription"></textarea>
			
			<div class="my_center"><button class="btn btn-success my_margin" type="button" onclick="validateProfile()">Save</button></div>
		</div>
		
		<div id="successMsg" style="margin-bottom: 10px;margin-top:10px;" class="alert alert-success" hidden>
			Profile successfully edited.
		</div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./js/bootstrap.min.js"></script>
	<script src="./js/mine.js"></script>
  </body>
</html>

app_server/views/user.pug
extends layout.pug

block content
        .col-sm-3.col-md-2
        .container.col-sm-8
            // Main component for a primary marketing message or call to action
            .jumbotron
                h3.my_title Your note:
                .my_author.my_ann_spaces
                    table(width='100%')
                        tr
                            td
                                img.my_avatar(src='./img/avatar.jpg')
                                p Author:
                                h2 Name and Surname
                                p.my_ann address@gmail.com
                        tr
                            td
                                p.my_description
                                    | This is my description. I am genius. I am handsome. I am fabulous. And I am the most modest person you've ever seen!
                .my_center
                    button.btn.btn-info.my_margin(type='button', onclick='javascript:$("#successMsg").hide();$("#edycjaProfilu").show();') I want to edit my note
                #edycjaProfilu(hidden='')
                    h4 Name and surname or nickname:
                    input#inputName.form-control(placeholder='Put your name and surname or nickname here', type='text', required='')
                    #errorMessageName.alert.alert-danger(style='margin-bottom: 10px;margin-top:10px;', role='alert', hidden='')
                        | Your name/nickname is too short.
                    h4 Description:
                    textarea#inputDescription.form-control(rows='10', placeholder='Describe yourself')
                    .my_center
                        button.btn.btn-success.my_margin(type='button', onclick='validateProfile()') Save
                #successMsg.alert.alert-success(style='margin-bottom: 10px;margin-top:10px;', hidden='')
                    | Profile successfully edited.
